// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.region-banner {
  background: linear-gradient(to bottom, lighten($blue-dark, 10%), $blue-dark);

  .region-inner {
    max-width: none;
    overflow: hidden;
    padding: 0;

    .block-content {
      .field--name-body {
        > div {
          position: relative;
          overflow: hidden;
          height: 40vw;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          > img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
          }
        }
      }
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .region-banner {
    .region-inner {
      .block-content {
        .field--name-body {
          > div {
            height: 30vw;
          }
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .region-banner {
    .region-inner {
      .block-content {
        .field--name-body {
          > div {
            height: 25vw;
          }
        }
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .region-banner {
    .region-inner {
      .block-content {
        .field--name-body {
          > div {
            height: 20vw;
          }
        }
      }
    }
  }
}
